.content {
  /* color: red; */
  text-align: center;
}

p {
  color: green;
}
.profile {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-size: 16px;
}

.box {
  width: 200px;
  background-color: cadetblue;
  margin: 30px;
  padding: 40px;
  border: 2px dotted wheat;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  box-shadow: 5px 5px;
}

.container {
  width: 800px;
}

.container1 {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  height: 50px;
  background: aquamarine;
}
.left-menu {
  width: 20%;
  height: 400px;
  background: cornflowerblue;
  float: left;
  /* display: inline-block; */
}
.right {
  width: 80%;
  height: 200px;
  background: coral;
  float: left;

  /* display: inline-block; */

  float: left;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  clear: both;
}

.leftbox1 {
  width: 60%;
  height: 100px;
  /* background-color: blueviolet; */
  float: left;
}

.rightbox1 {
  width: 40%;
  height: 100px;
  background-color: rgb(12, 73, 240);
  float: left;
}
